<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diamond.mapper.MemberMapper">

    <insert id="addMember" parameterType="Member">
        insert
        into Member(userID, userIdentity, teamID)
        VALUES (#{userID}, #{userIdentity}, #{teamID});
    </insert>

    <select id="getCollaboratorNum" parameterType="String" resultType="int">
        select count(distinct B.userID)
        from Member as A, Member as B
        where A.userID = #{userID} and A.teamID = B.teamID and A.userID != B.userID;
    </select>

    <update id="updateDocUserIdentity" parameterType="Map">
        update Member
        set userIdentity = #{userIdentity}
        where userID = #{userID}
    </update>

</mapper>