<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diamond.mapper.MemberMapper">

    <insert id="addMember" parameterType="Member">
        insert
        into Member(userID, userIdentity, teamID)
        VALUES (#{userID}, #{userIdentity}, #{teamID});
    </insert>

    <select id="getCollaboratorNum" parameterType="String" resultType="int">
        select count(distinct B.userID)
        from Member as A, Member as B
        where A.userID = #{userID} and A.teamID = B.teamID and A.userID != B.userID;
    </select>

    <update id="updateDocUserIdentity" parameterType="Map">
        update Member
        set userIdentity = #{userIdentity}
        where userID = #{userID}
    </update>

    <select id="getTeamByUserID" parameterType="String" resultType="Team">
        select *
        from Team
        where Team.teamID in (select Member.teamID from Member where Member.userID = #{userID});
    </select>

    <select id="getTeamMemberByTeamID" parameterType="String" resultType="DocUser">
        select *
        from DocUser
        where DocUser.userID in (select Member.userID from Member where Member.teamID = #{teamID});
    </select>

    <select id="getTeamMemberPreviewByTeamID" parameterType="String" resultType="MemberPreview">
        select userName, userIdentity
        from Member,DocUser
        where Member.teamID = #{teamID} and Member.userID = DocUser.userID;
    </select>

    <select id="getDocByTeamID" parameterType="String" resultType="Doc">
        select *
        from Doc
        where teamID = #{teamID};
    </select>

</mapper>